.comment-default {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid white;
    filter: brightness(130%);
    transition: filter 0s;
}

.comment-hovered {
    filter: brightness(165%);
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid white;
}
