.custom-datepicker {
    position: relative;
  }
  
  .custom-datepicker::before {
    content: "";
    position: absolute;
    color: 'white';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .react-datepicker__input-container input {
    text-align: center !important;
  }