
  .react-datepicker__input-container input {
    text-align: center;
    
  }

  body .react-datepicker-wrapper .react-datepicker__input-container input {
    text-align: center;
    border: 1px solid lightgrey !important;
  }

  .react-datepicker__input-container {
    border: 1px solid white !important;
  }