.custom-datepicker {
    position: relative;
  }
  
  .custom-datepicker::before {
    content: "";
    position: absolute;
    color: 'white';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .react-datepicker__input-container input {
    text-align: center !important;
  }

  .ui.dropdown.visible .menu {
    max-height: 300px !important;
    overflow-y: auto !important;
  }

  .ui.dropdown .menu > .item {
    padding: 0px 0px 0px 0px !important; /* or whatever other styles you wish to apply */
    margin: 0px 0px 0px 0px !important;
    /*line-height: 2.5 !important; /* Adjust as needed */
    height: 15px !important; /* Adjust as needed */
}